<BaseContainer>
<UnitWrapper @unit="Employees">
{{#if @model.employee}}
{{#each @model.employee as |employee|}}
   <div>
    <LinkTo @route="employee" @model="{{employee.id}}" class="linkunit employee">
       {{employee.position}}, {{employee.firstName}} {{employee.lastName}}
    </LinkTo>
   </div>
{{/each}}
{{else}}
    <div>
        No employees data avaliable in DB!
   </div>
{{/if}}
</UnitWrapper>
<LinkTo @route="newemployee" @model="{{this.model.id}}" class="link create">
        Create new employee
</LinkTo><br>
<LinkTo @route="departmentdata" class="link update">
        Update department
</LinkTo><br>
<button type="button" {{on "click" this.deleteDepartmentDataDialogOpen}} class="delete linkdelete">
     Delete department
</button>
{{#if this.deleteMode}}  
    <ModalDialog @translucentOverlay="true">
     <div class="center">
        Are you sure you want to delete {{this.model.name}} data?
     </div>
     <div class="center">
        <button type="button" {{on "click" (fn this.deleteDepartmentData this.model.id)}} class="delete">Delete</button> 
        <button type="button" {{on "click" this.deleteDepartmentDataDialogClose}} class="nodelete">Cancel</button>
     </div>
    </ModalDialog>
{{/if}}
</BaseContainer>