<BaseContainer>
<UnitWrapper @unit="{{this.model.firstName}} {{this.model.lastName}} {{this.model.patronymicName}}">
<div class="unit">
  <div class="image">
      <img src={{this.model.photo}} alt="Employee"/><br>
      {{#if this.updateMode}}
        <input type="file" {{on "change" this.uploadPhoto}}>
      {{/if}}
  </div>
  <div class="details">
     {{#if this.updateMode}}
      <div class="detail">
        <span>First name:</span>
        <input value={{this.model.firstName}} onchange={{action (mut this.model.firstName) value=
         "target.value"}} type="text" placeholder="First name">
      </div>
      <div class="detail">
        <span>Last name:</span>
        <input value={{this.model.lastName}} onchange={{action (mut this.model.lastName) value=
         "target.value"}} type="text" placeholder="Last name">
      </div>
      <div class="detail">
        <span>Patronymic name:</span>
        <input value={{this.model.patronymicName}} onchange={{action (mut this.model.patronymicName) 
        value="target.value"}} type="text" placeholder="Patronymic name">
      </div>
      {{else}} 
      <h3>{{this.model.firstName}} {{this.model.lastName}} {{this.model.patronymicName}}</h3>
      {{/if}}
      <div class="detail">
        <span>Position:</span>
        {{#if this.updateMode}}
        <input value={{this.model.position}} onchange={{action (mut this.model.position) 
        value="target.value"}} type="text" placeholder="Position"> 
        {{else}}
        {{this.model.position}}
        {{/if}}
      </div>
      <div class="detail">
        <span>Phone number:</span>
        {{#if this.updateMode}}
        <input value={{this.model.phoneNumber}} onchange={{action (mut this.model.phoneNumber) 
        value="target.value"}} type="text" placeholder="Phone number"> 
        {{else}}
        {{this.model.phoneNumber}}
        {{/if}}
      </div>
      <div class="detail">
        <span>Email address:</span> 
        {{#if this.updateMode}}
        <input value={{this.model.emailAddress}} onchange={{action (mut this.model.emailAddress) 
        value="target.value"}} type="text" placeholder="Email address"> 
        {{else}}
        {{this.model.emailAddress}}
        {{/if}}
      </div>
      <div class="detail">
        <span>Age:</span> 
        {{#if this.updateMode}} 
        <input value={{this.model.age}} onchange={{action (mut this.model.age) 
        value="target.value"}} type="text" placeholder="Age">
        {{else}}
        {{this.model.age}}
        {{/if}}
      </div>
      <div class="detail">
        <span>Salary:</span> 
        {{#if this.updateMode}} 
        <input value={{this.model.salary}} onchange={{action (mut this.model.salary) 
        value="target.value"}} type="text" placeholder="Age"> UAH/month
        {{else}}
        {{currency this.model.salary sign="UAH/month"}}
        {{/if}}
      </div>
      <div class="center">
      {{#if this.updateMode}}  
        <button type="button" {{on "click" (fn this.updateEmployeeData 
            this.model.id
            this.model.firstName
            this.model.lastName
            this.model.patronymicName
            this.model.position
            this.model.phoneNumber
            this.model.emailAddress
            this.model.age
            this.model.salary
            this.model.photo)}}
            class="save w150">Save</button>
        <button type="button" {{on "click" this.changeUpdateMode}} class="cancel w150">Cancel</button>
      {{else}}
        <button type="button" {{on "click" this.changeUpdateMode}} class="update">Update employee data</button> 
        <button type="button" {{on "click" this.deleteEmployeeDataDialogOpen}} class="delete">Delete employee data</button>
      {{/if}}
      </div>
  </div>
</div>
</UnitWrapper>
{{#if this.deleteMode}}  
     <ModalDialog @translucentOverlay="true">
     <div class="center">
        Are you sure you want to delete {{this.model.firstName}} {{this.model.lastName}} data?
     </div>
     <div class="center">
        <button type="button" {{on "click" (fn this.deleteEmployeeData this.model.id)}} class="delete">Delete</button> 
        <button type="button" {{on "click" this.deleteEmployeeDataDialogClose}} class="nodelete">Cancel</button>
     </div>
    </ModalDialog>
{{/if}}
</BaseContainer>


